/* Inline media */

@import "inlineMedia.css";

/* Basic Body Structure */

:root {
	supported-color-schemes: dark;
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	word-break: break-word;
}

body {
	color: #93A1A1;
	height: 100%;
 	z-index: 100;
	font-size: 15pt;
	overflow: hidden;
	background-color: #002B36;
	font-family: "Menlo";
}

#body {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	/* overflow: none is added here, even though it is already
	 declared by body {} because on OS X Mavericks, there is a
	 weird quirk that causes the horizontal slider to appear
	 even though we only ask for the vertical one. */
	overflow: none;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Only factor in height of topic bar when selected == true
 because that is only time the topic is displayed according
 to the logic defined by baseLayout.css */
body[data-selected="true"][data-view-type="channel"] #body {
	max-height: calc(100% - 2.0em); /* height minus topic */
}

div.line {
 	margin-top: -1px;
	clear: both;
}

body[dir="rtl"] .sender {
	display: inline-block;
}

/* Scrolling */

body[data-custom-scroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[data-custom-scroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */

#loadingScreen {
	position: absolute;
	top: 45%;
	left: calc(50% - (320px / 2)); /* half of width + padding */
	width: 300px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir="ltr"] .time {
	color: #586E75;
	white-space: nowrap;
}

body[dir="rtl"] .time {
	color: #586E75;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #DC322F;
	border-color: #DC322F;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #F23734;
	border-color: #F23734;
}

/* Topic Bar */

#topicBar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	color: #93A1A1;
	position: fixed;
	padding: 2px 0.5em 3px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #544E45;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
	background: -webkit-linear-gradient(top, #073642 0%, #002B36 100%);
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topicBar:hover {
	overflow: visible;
	white-space: normal;
}

#topicBar a,
#topicBar span.channel {	
	color: #DC322F;
	border-color: #DC322F;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

#topicBar a:hover {
	color: #F23734;
	border-color: #F23734;
}

/* Remember Line */

#mark {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Message buffer loading animation */

.message_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.message_buffer_loading_indicator span {
	font-family: "Menlo" !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #586E75;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* Message buffer session indicator */

.date_indicator ,
session_indicator {
	display: flex;
	display: -webkit-flex;
	padding: 0.5em 0;
}

.date_indicator > hr,
.session_indicator > hr {
	background: #EEE8D5;
	border: 0;
    height: 1px;
	margin-top: 0.6em;
	flex: 1;
	-webkit-flex: 1;
}

.date_indicator > span,
.session_indicator > span {
	font-style: oblique;
	margin: 0 1em;
	color: #EEE8D5;
}

.date_indicator + #mark,
.session_indicator + #mark {
	display: none;
}

/* NOTICE/CTCP/WALLOPS */

div.line[data-line-type="ctcp"],
div.line[data-line-type="notice"],
div.line[data-line-type="wallops"] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

div.line[data-line-type="notice"] .sender {
	color: #f00;
	font-weight: 700;
}

/* Selected User Messages */

.sender {
	cursor: pointer;
}

div.line[data-line-type="privmsg"]:not(.selectedUser),
div.line[data-line-type="action"]:not(.selectedUser) {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

div.line[data-line-type="privmsg"] .time:not(.selectedUser),
div.line[data-line-type="action"] .time:not(.selectedUser) {
    transition: color 0.5s;
}

div.line.selectedUser[data-highlight="false"] .time {
    transition: color 0.5s ease-in;
	color: #aaa;
}

div.line.selectedUser[data-highlight="false"] {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-top: 1px solid #5E5E5E !important;
	border-bottom: 1px solid #5E5E5E !important;
  	background-color: rgba(105, 105, 105, 0.3) !important;
}

/* PRIVMSG */

div.line[data-line-type="privmsg"][data-highlight="false"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div.line[data-line-type="privmsg"][data-highlight="true"],
div.line[data-line-type="action"][data-highlight="true"] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #93a1a1;
	border-bottom: 1px solid #93a1a1;
	background-color: #073642 !important;
}

div.line[data-line-type="privmsg"] .message {
	color: #aaa;
}

div.line[data-line-type="privmsg"][data-member-type="myself"] .message {
	color: #a9a9a9;
}

div.line[data-line-type="privmsg"] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* ACTION */

div.line[data-line-type="action"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div.line[data-line-type="action"] .message {
	color: #aaa;
}

div.line[data-line-type="action"] .sender {
	font-weight: 700;
}

div.line[data-line-type="action"][data-member-type="myself"] .sender,
div.line[data-line-type="action"][data-member-type="myself"] .message {	
    color: #a9a9a9;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

div.line[data-line-type="invite"],
div.line[data-line-type="debug"],
div.line[data-line-type="dcc-file-transfer"],
div.line[data-line-type="off-the-record-encryption-status"] {
	color: #93A1A1;
  	z-index: 190;
	background: #073642;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #93A1A1;
	border-bottom: 1px solid #93A1A1;
}

/* off-the-record-encryption-status Message Event */
div.line[data-line-type="off-the-record-encryption-status"] .message {
	color: #ff0000;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

div.line[data-command="372"],
div.line[data-command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[data-command="375"],
div.line[data-command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

div.line[data-command="376"],
div.line[data-command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[data-command="372"] .message,
div.line[data-command="375"] .message,
div.line[data-command="376"] .message
div.line[data-command="720"] .message,
div.line[data-command="721"] .message,
div.line[data-command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

div.line[data-line-type="join"],
div.line[data-line-type="part"],
div.line[data-line-type="kick"],
div.line[data-line-type="quit"],
div.line[data-line-type="kill"],
div.line[data-line-type="nick"],
div.line[data-line-type="mode"],
div.line[data-line-type="topic"],
div.line[data-line-type="website"] {
 	padding: 3px 5px 3px 5px;
	color: #93A1A1;
}

body[dir="ltr"] div.line[data-line-type="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="kick"] .message:before,
body[dir="ltr"] div.line[data-line-type="part"] .message:before,
body[dir="ltr"] div.line[data-line-type="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="nick"] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="kick"] .message:before,
body[dir="rtl"] div.line[data-line-type="part"] .message:before,
body[dir="rtl"] div.line[data-line-type="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="nick"] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

.inlineSender {
	font-weight: 700;
}

div.line[data-line-type="privmsg"] .sender[data-member-type="myself"] {
	color: #657B83;
}

/* These nick color settings don't work any more. */
.sender[data-member-type="normal"][colornumber="0"],
.inline_nickname[colornumber="0"] {
	color: #DC322F;
}

.sender[data-member-type="normal"][colornumber="1"],
.inline_nickname[colornumber="1"] {
	color: #268bd2;
}

.sender[data-member-type="normal"][colornumber="2"],
.inline_nickname[colornumber="2"] {
	color: #859900;
}

.sender[data-member-type="normal"][colornumber="3"],
.inline_nickname[colornumber="3"] {
	color: #6C71C4;
}

.sender[data-member-type="normal"][colornumber="4"],
.inline_nickname[colornumber="4"] {
	color: #2AA198;
}

.sender[data-member-type="normal"][colornumber="5"],
.inline_nickname[colornumber="5"] {
	color: #D33682;
}

.sender[data-member-type="normal"][colornumber="6"],
.inline_nickname[colornumber="6"] {
	color: #B58900;
}
.sender[data-member-type="normal"][colornumber="7"],
.inline_nickname[colornumber="7"] {
	color: #2EA8FF;
}

.sender[data-member-type="normal"][colornumber="8"],
.inline_nickname[colornumber="8"] {
	color: #CB4B16;
}

.sender[data-member-type="normal"][colornumber="9"],
.inline_nickname[colornumber="9"] {
	color: #ACC700;
}

.sender[data-member-type="normal"][colornumber="10"],
.inline_nickname[colornumber="10"] {
	color: #3DEBDC;
}

.sender[data-member-type="normal"][colornumber="11"],
.inline_nickname[colornumber="11"] {
	color: #FF3936;
}

.sender[data-member-type="normal"][colornumber="12"],
.inline_nickname[colornumber="12"] {
	color: #8085E8;
}

.sender[data-member-type="normal"][colornumber="13"],
.inline_nickname[colornumber="13"] {
	color: #FF601C;
}

.sender[data-member-type="normal"][colornumber="14"],
.inline_nickname[colornumber="14"] {
	color: #EDB200;
}

.sender[data-member-type="normal"][colornumber="15"],
.inline_nickname[colornumber="15"] {
	color: #FF429D;
}

.sender[data-member-type="normal"][colornumber="16"],
.inline_nickname[colornumber="16"] {
	color: #617000;
}

.sender[data-member-type="normal"][colornumber="17"],
.inline_nickname[colornumber="17"] {
	color: #1C669C;
}

.sender[data-member-type="normal"][colornumber="18"],
.inline_nickname[colornumber="18"] {
	color: #801D1B;
}

.sender[data-member-type="normal"][colornumber="19"],
.inline_nickname[colornumber="19"] {
	color: #4F528F;
}

.sender[data-member-type="normal"][colornumber="20"],
.inline_nickname[colornumber="20"] {
	color: #9BB300;
}

.sender[data-member-type="normal"][colornumber="21"],
.inline_nickname[colornumber="21"] {
	color: #218078;
}

.sender[data-member-type="normal"][colornumber="22"],
.inline_nickname[colornumber="22"] {
	color: #A83F13;
}

.sender[data-member-type="normal"][colornumber="23"],
.inline_nickname[colornumber="23"] {
	color: #e65719;
}

.sender[data-member-type="normal"][colornumber="24"],
.inline_nickname[colornumber="24"] {
	color: #1F72AD;
}

.sender[data-member-type="normal"][colornumber="25"],
.inline_nickname[colornumber="25"] {
	color: #545799;
}

.sender[data-member-type="normal"][colornumber="26"],
.inline_nickname[colornumber="26"] {
	color: #872353;
}

.sender[data-member-type="normal"][colornumber="27"],
.inline_nickname[colornumber="27"] {
	color: #735600;
}

.sender[data-member-type="normal"][colornumber="28"],
.inline_nickname[colornumber="28"] {
	color: #26948b;
}

.sender[data-member-type="normal"][colornumber="29"],
.inline_nickname[colornumber="29"] {
	color: #35ccbf;
}

.sender[data-member-type="normal"][colornumber="30"],
.inline_nickname[colornumber="30"] {
	color: #124366;
}
